= form_tag search_articles_path, method: :post do
  = label_tag 'query', 'Search For:'
  = text_field_tag 'query'
  = submit_tag 'Search'

= link_to 'Create New', new_article_path

- if @results
  %table
    %thead
      %tr
        %th= 'Id'
        %th= 'Name'
        %th= 'Value'
    %tbody
      - @results.each_with_index do |result, index|
        %tr
          %th= index
          %th=result[:name]
          %th=result[:value]